In [1]:
a = "prince"

In [2]:
b = "prince"

In [3]:
a

'prince'

In [4]:
b

'prince'

In [7]:
c = "this is my first class for full stack data science , that's why i have joined this class"

In [8]:
c

"this is my first class for full stack data science , that's why i have joined this class"

In [9]:
c = "this is my first class for full stack data science , that"s why i have joined this class"

SyntaxError: invalid syntax (<ipython-input-9-530bac1e2703>, line 1)

In [10]:
p = "this is full stack class"

In [11]:
p[0]

't'

In [12]:
p[-1]

's'

In [14]:
len(p)

24

In [15]:
p[100]

IndexError: string index out of range

In [16]:
p[4:10]

' is fu'

In [17]:
p[-1:-10:1]

''

In [19]:
p[-1:-10:-1]

'ssalc kca'

In [20]:
p

'this is full stack class'

In [21]:
for i in p:
    print(i)

t
h
i
s

i
s

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [22]:
for i in range(len(p)):
    print(p[i])

t
h
i
s

i
s

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [23]:
p[::-1]

'ssalc kcats lluf si siht'

In [25]:
p[0] = "x"

TypeError: 'str' object does not support item assignment

In [28]:
l = ["fefcf", 214, 145.62, True]

In [29]:
l[0]

'fefcf'

In [30]:
l[0] = "prince"

In [31]:
l

['prince', 214, 145.62, True]

In [33]:
 "prince" + " kumar"

'prince kumar'

In [34]:
"prince" + 1546

TypeError: can only concatenate str (not "int") to str

In [35]:
"prince" + "46546"

'prince46546'

In [36]:
"prince" + str(5465)

'prince5465'

In [37]:
"prince" + ["kumar", 2, 2, 5.5]

TypeError: can only concatenate str (not "list") to str

In [39]:
"prince " * 5

'prince prince prince prince prince '

In [40]:
p = " my name is "

In [41]:
p

' my name is '

In [47]:
p.find("m")

1

In [49]:
p.find("name")

4

In [50]:
p.find("s")

10

In [54]:
b = p.find("name")
for i in range(len("name")):
    print(b + i)

4
5
6
7

In [55]:
p

' my name is '

In [56]:
p.count("m")

2

In [57]:
p.count("my")

1

In [1]:
p = "my name is prince kumar , name of institute is C-DAC"

In [3]:
p.count("name")

2

In [4]:
p.split()

['my',
 'name',
 'is',
 'prince',
 'kumar',
 ',',
 'name',
 'of',
 'institute',
 'is',
 'C-DAC']

In [5]:
p.split(",")

['my name is prince kumar ', ' name of institute is C-DAC']

In [6]:
p.split("n")

['my ', 'ame is pri', 'ce kumar , ', 'ame of i', 'stitute is C-DAC']

In [8]:
p.split("na")

['my ', 'me is prince kumar , ', 'me of institute is C-DAC']

In [9]:
type(p.split("na"))

list

In [10]:
p

'my name is prince kumar , name of institute is C-DAC'

In [11]:
p.upper()

'MY NAME IS PRINCE KUMAR , NAME OF INSTITUTE IS C-DAC'

In [12]:
p.lower()

'my name is prince kumar , name of institute is c-dac'

In [13]:
p.swapcase()

'MY NAME IS PRINCE KUMAR , NAME OF INSTITUTE IS c-dac'

In [16]:
" ".join(p)

'm y   n a m e   i s   p r i n c e   k u m a r   ,   n a m e   o f   i n s t i t u t e   i s   C - D A C'

In [18]:
reversed(p)

In [23]:
for i in reversed(p):
    print(i,end = "")

CAD-C si etutitsni fo eman , ramuk ecnirp si eman ym

In [25]:
p = " prince "

In [26]:
p.strip()

'prince'

In [27]:
p = " prince"

In [28]:
p.lstrip()

'prince'

In [29]:
p = "prince "

In [30]:
p.rstrip()

'prince'

In [31]:
p = "greeting from C-DAC"

In [32]:
p.replace("g", "s")

'sreetins from C-DAC'

In [33]:
p

'greeting from C-DAC'

In [34]:
p = "prince"

In [35]:
p.replace("i", "kumar")

'prkumarnce'

In [37]:
p[1]

'r'

In [38]:
p[1] = "i"

TypeError: 'str' object does not support item assignment

In [39]:
p = "prince"

In [40]:
p.center(20,"*")

'*******prince*******'

In [41]:
p = "prince\tkumar"

In [42]:
p

'prince\tkumar'

In [43]:
p.expandtabs()

'prince  kumar'

In [44]:
a = "we all are a part of Full Stack"

## Q1) Normalize all the string in lower case

In [46]:
a.lower()

'we all are a part of full stack'

## Q2)  Find number of occurences of "a" in entire data

In [47]:
a.count("a")

5

## Q3) Find all the location/ index of "a" in string

In [48]:
for i in range(len(a)):
    if a[i] == "a":
        print(i)

3
7
11
14
28

## Q4) Replace all the "a" with "ineuron"

In [49]:
a.replace("a","iNeuron")

'we iNeuronll iNeuronre iNeuron piNeuronrt of Full StiNeuronck'

## Q5) Print all the word as a list

In [50]:
a.split()

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [66]:
a = "we all are a part of Full Stack"

#task 1
print("Normalize all the string in lower case : ",a.lower(),"\n")

#task 2
print("Find number of occurences of 'a' in entire data : ",a.count("a"),"\n")

#task 3
print("Find all the location/index of 'a' in string : ")
for i in range(len(a)):
    if a[i] == "a":
        print("a => ",i)

print("")
#task 4
print("Replace all the 'a' with 'ineuron' : ", a.replace("a","iNeuron"),"\n")

#task 5
print("Print all the word as a list : ",a.split())

Normalize all the string in lower case :  we all are a part of full stack

Find number of occurences of 'a' in entire data :  5

Find all the location/index of 'a' in string :
a =>  3
a =>  7
a =>  11
a =>  14
a =>  28

Replace all the 'a' with 'ineuron' :  we iNeuronll iNeuronre iNeuron piNeuronrt of Full StiNeuronck

Print all the word as a list :  ['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [67]:
p = "prince"

In [68]:
p.isupper()

False

In [69]:
p = "PRINCE"

In [70]:
p.isupper()

True

In [71]:
p.islower()

False

In [72]:
p = "Prince"

In [73]:
p.islower()

False

In [74]:
p.isupper()

False

In [75]:
p.isspace()

False

In [78]:
p = "     "

In [79]:
p.isspace()

True

In [82]:
p = "1245"

In [83]:
p.isdigit()

True

In [84]:
p = "prince"

In [85]:
p.endswith("e")

True

In [87]:
p.startswith("p")

True

In [89]:
p = "prince1224"

In [90]:
p.isalnum()

True

In [91]:
p = "prince"

In [94]:
p.isalpha()

True

In [95]:
p.isalnum()

True

In [96]:
p.istitle()

False

In [97]:
p = "Prince"

In [98]:
p.istitle()

True

In [99]:
p = "this is a full stack batch"

In [100]:
for i in p:
    print(i)

t
h
i
s

i
s

a

f
u
l
l

s
t
a
c
k

b
a
t
c
h

In [101]:
len(p)

26

In [102]:
count = 0
for i in p:
    count += 1
print(count)

26

In [104]:
for i in p:
    print(i)

t
h
i
s

i
s

a

f
u
l
l

s
t
a
c
k

b
a
t
c
h

In [105]:
for i in range(len(p)):
    print(p[i])

t
h
i
s

i
s

a

f
u
l
l

s
t
a
c
k

b
a
t
c
h

In [108]:
for i in range(1,len(p)+1):
    print(p[-i])

h
c
t
a
b

k
c
a
t
s

l
l
u
f

a

s
i

s
i
h
t

In [111]:
p = "prince"
ch = len(p) - 1
while ch >= 0:
    print(p[ch])
    ch -= 1

e
c
n
i
r
p

In [112]:
name = "ineuron"
vowels = "AaEeIiOoUu"

for i in name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

i is a vowel
n is not a vowel
e is a vowel
u is a vowel
r is not a vowel
o is a vowel
n is not a vowel

In [113]:
"{} name is pricne".format("my")

'my name is pricne'

In [114]:
"{} name {} prince".format("my","is")

'my name is prince'

In [115]:
a = input()
b = input()
"{} name {} prince".format(a,b)

my
is

'my name is prince'

In [116]:
a = input()
b = input()
"{} name {} prince {}".format(a,b)

my
is

IndexError: Replacement index 2 out of range for positional args tuple

In [118]:
a = input()
b = input()
"{} name {} prince {}".format(a,b,"kumar")

my
is

'my name is prince kumar'

In [119]:
a = "xyx"
b = 2002
c = "eye"
d = "nitin"

In [125]:
p = input("enter a data for which you would like to check pelindrom : ")
p1 = p[::-1]
if p == p1:
    print("it's s same")
else:
    print("its not a same")

enter a data for which you would like to check pelindrom : prince
its not a same

In [126]:
l = ['prince', 32,64,45,[46,48]]

In [127]:
l

['prince', 32, 64, 45, [46, 48]]

In [128]:
l[3]

45

In [129]:
l[0:3]

['prince', 32, 64]

In [130]:
l[0:3:-1]

[]

In [131]:
l[3:0:-1]

[45, 64, 32]

In [132]:
l[::-1]

[[46, 48], 45, 64, 32, 'prince']

In [133]:
l

['prince', 32, 64, 45, [46, 48]]

In [134]:
p = "prince"

In [135]:
l + p

TypeError: can only concatenate list (not "str") to list

In [138]:
p = 'prince'
p = list(p)
p

['p', 'r', 'i', 'n', 'c', 'e']

In [137]:
l+p

['prince', 32, 64, 45, [46, 48], 'p', 'r', 'i', 'n', 'c', 'e']

In [139]:
l*2

['prince', 32, 64, 45, [46, 48], 'prince', 32, 64, 45, [46, 48]]

In [140]:
len(l)

5

In [141]:
l

['prince', 32, 64, 45, [46, 48]]

In [142]:
"prince" in l

True

In [143]:
34 in l

False

In [145]:
45 in l

True