In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
l = []
type(l)

list

In [4]:
t1 = (234,34,"prince",34.5,True)

In [5]:
l1 = [234,34,"prince",34.5,True]

In [6]:
t1[0]

234

In [7]:
t1[-1]

True

In [8]:
t1[5]

IndexError: tuple index out of range

In [ ]:
t1[0:4]

In [9]:
t1[::-1]

(True, 34.5, 'prince', 34, 234)

In [10]:
l1[0]

234

In [11]:
l1[0] = "kumar"

In [12]:
l1

['kumar', 34, 'prince', 34.5, True]

In [13]:
t1

(234, 34, 'prince', 34.5, True)

In [14]:
t1[0] = "sdvfs"

TypeError: 'tuple' object does not support item assignment

In [15]:
t2 = (234,54,546)

In [16]:
t1 + t2

(234, 34, 'prince', 34.5, True, 234, 54, 546)

In [17]:
t1 *4

(234,
 34,
 'prince',
 34.5,
 True,
 234,
 34,
 'prince',
 34.5,
 True,
 234,
 34,
 'prince',
 34.5,
 True,
 234,
 34,
 'prince',
 34.5,
 True)

In [18]:
t1

(234, 34, 'prince', 34.5, True)

In [19]:
34 in t1

True

In [20]:
"wcsad" in t1

False

In [21]:
t1

(234, 34, 'prince', 34.5, True)

In [22]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [23]:
t3 = (12,35,64,854,95,21)

In [24]:
max(t3)

854

In [25]:
t4 = ("feasc","faac","awd")

In [26]:
max(t4)

'feasc'

In [27]:
t1

(234, 34, 'prince', 34.5, True)

In [28]:
t1.index(6)

ValueError: tuple.index(x): x not in tuple

In [29]:
t1.index(34)

1

In [30]:
l1

['kumar', 34, 'prince', 34.5, True]

In [31]:
l1.index(6)

ValueError: 6 is not in list

In [32]:
l1.index(34)

1

In [33]:
t1

(234, 34, 'prince', 34.5, True)

In [34]:
t1 = (234, 34, 'prince', 34.5,34,34,34, True)

In [35]:
t1.index(34)

1

In [36]:
t1.count(34)

4

In [37]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [38]:
min(t3)

12

In [39]:
min(t4)

'awd'

In [40]:
t1

(234, 34, 'prince', 34.5, 34, 34, 34, True)

In [41]:
t5 = (34,84)

In [42]:
t1 + t5

(234, 34, 'prince', 34.5, 34, 34, 34, True, 34, 84)

In [43]:
t6 = 56

In [44]:
l5 = list(t1)

In [45]:
l5.insert(3,t6)

In [46]:
l5

[234, 34, 'prince', 56, 34.5, 34, 34, 34, True]

In [47]:
tuple(l5)

(234, 34, 'prince', 56, 34.5, 34, 34, 34, True)

In [48]:
t = ((3,4,5,6,7),("wasda",45,75),("654",656),45,41,647,[4,5,2,1,6])

In [49]:
t

((3, 4, 5, 6, 7),
 ('wasda', 45, 75),
 ('654', 656),
 45,
 41,
 647,
 [4, 5, 2, 1, 6])

In [50]:
t[6]

[4, 5, 2, 1, 6]

In [53]:
t[6][1:4]

[5, 2, 1]

In [54]:
t[1]

('wasda', 45, 75)

In [55]:
t[1][0]

'wasda'

In [56]:
for i in t:
    print(i)

(3, 4, 5, 6, 7)
('wasda', 45, 75)
('654', 656)
45
41
647
[4, 5, 2, 1, 6]

In [57]:
for i in t:
    if type(i) == tuple:
        print(i[0])

3
wasda
654

In [58]:
t1

(234, 34, 'prince', 34.5, 34, 34, 34, True)

In [59]:
t2

(234, 54, 546)

In [60]:
if len(t1) == len(t2):
    print("its same ")
else:
    print("not same")

not same

In [61]:
t = (234, 34, 'prince', 34.5, 34, 34, 34, True,"kumar")

In [63]:
i = input("take a user input ")

if i in t:
    print("yes your name is available ")
else:
    print("your name is not available")

take a user input esfcasd
your name is not available

In [64]:
t

(234, 34, 'prince', 34.5, 34, 34, 34, True, 'kumar')

In [65]:
l1

['kumar', 34, 'prince', 34.5, True]

In [67]:
t1 = (34)

In [70]:
del(t)

In [71]:
t

NameError: name 't' is not defined

In [72]:
del(l1)

In [73]:
l1

NameError: name 'l1' is not defined

In [74]:
l = [325,456,748,41]

In [75]:
t2

(234, 54, 546)

In [76]:
x = set()

In [77]:
type(x)

set

In [89]:
l = [34,64,45,12,48,97,34,32,"prince","prince","Sudh","kumar",45464646,45]

In [90]:
s = set(l)

In [91]:
for i in s:
    print(i)

64
97
34
32
kumar
45464646
12
45
48
Sudh
prince

In [92]:
34 in s

True

In [93]:
s[0]

TypeError: 'set' object is not subscriptable

In [94]:
s{0}

SyntaxError: invalid syntax (<ipython-input-94-8b3d2dc3d6d7>, line 1)

In [95]:
s(0)

TypeError: 'set' object is not callable

In [96]:
s

{12, 32, 34, 45, 45464646, 48, 64, 97, 'Sudh', 'kumar', 'prince'}

In [97]:
s = set()

In [98]:
s

set()

In [99]:
s.add(45)

In [100]:
s.add("prince")

In [101]:
s.add("fesfds")

In [102]:
s.add([465656,465])

TypeError: unhashable type: 'list'

In [103]:
l = [34,64,45,12,48,97,34,32,"prince","prince","Sudh","kumar",45464646,45,[324,541,74]]

In [104]:
s = set(l)

TypeError: unhashable type: 'list'

In [105]:
s

{45, 'fesfds', 'prince'}

In [106]:
s.add(45)

In [107]:
s

{45, 'fesfds', 'prince'}

In [108]:
s.remove(45)

In [109]:
s

{'fesfds', 'prince'}

In [110]:
s.remove(45)

KeyError: 45

In [111]:
s

{'fesfds', 'prince'}

In [112]:
45 in s

False

In [113]:
s.clear()

In [114]:
s

set()

In [115]:
s = set(l)

TypeError: unhashable type: 'list'

In [116]:
s.add("fresdfc")

In [117]:
s.add(254)

In [118]:
s.add(524)

In [119]:
s.add("weda")

In [120]:
s

{254, 524, 'fresdfc', 'weda'}

In [121]:
s1 = set()

In [122]:
l = [324,6454,84,95,1212,454,65]

In [123]:
s1 = set(l)

In [124]:
s1

{65, 84, 95, 324, 454, 1212, 6454}

In [125]:
s + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [126]:
s * 4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [127]:
s

{254, 524, 'fresdfc', 'weda'}

In [129]:
l4 = list(s)

In [130]:
l4.append(546)

In [132]:
l4

['weda', 'fresdfc', 524, 254, 546]

In [133]:
l4.append(524)

In [134]:
l4

['weda', 'fresdfc', 524, 254, 546, 524]

In [136]:
t4 = tuple(s)

In [137]:
set(t4)

{254, 524, 'fresdfc', 'weda'}

In [138]:
s[0]

TypeError: 'set' object is not subscriptable

In [139]:
s[0] = "cwsdws"

TypeError: 'set' object does not support item assignment

In [140]:
x = {}

In [141]:
type(x)

dict

In [142]:
x1 = {32,355}

In [143]:
type(x1)

set

In [144]:
x = {"name":"prince","age":24}

In [145]:
x

{'name': 'prince', 'age': 24}

In [148]:
type(x)

dict

In [149]:
x1 = {"name":"prince","age":23,"name":"fwesfd",True:"ewfds","key":False,6545:465}

In [150]:
x1

{'name': 'fwesfd', 'age': 23, True: 'ewfds', 'key': False, 6545: 465}

In [151]:
x2 = {"name":"prince","age":23,"name":"fwesfd",True:"ewfds","key":False,6545:465,%:6565}

SyntaxError: invalid syntax (<ipython-input-151-eeeb4b26216c>, line 1)

In [152]:
x1

{'name': 'fwesfd', 'age': 23, True: 'ewfds', 'key': False, 6545: 465}

In [162]:
x1 = {'name': 'prince', 'age': 23, True: {'ewfds',2465,565,158,84}, 'key': False, 6545: 465,"_dwasd":"prince","l1":[21,51,41,244,100,154],324:(245,5415,45)}

In [163]:
x1

{'name': 'prince',
 'age': 23,
 True: {158, 2465, 565, 84, 'ewfds'},
 'key': False,
 6545: 465,
 '_dwasd': 'prince',
 'l1': [21, 51, 41, 244, 100, 154],
 324: (245, 5415, 45)}

In [164]:
x2 = {'name': {"k1":"wda","das":[654,984,65,15]}, 'age': 23, True: {'ewfds',2465,565,158,84}, 'key': False, 6545: 465,"_dwasd":"prince","l1":[21,51,41,244,100,154],324:(245,5415,45)}

In [167]:
x2

{'name': {'k1': 'wda', 'das': [654, 984, 65, 15]},
 'age': 23,
 True: {158, 2465, 565, 84, 'ewfds'},
 'key': False,
 6545: 465,
 '_dwasd': 'prince',
 'l1': [21, 51, 41, 244, 100, 154],
 324: (245, 5415, 45)}

In [168]:
x3 = {[32,45,66,44]:"wda","das":[654,984,65,15]}

TypeError: unhashable type: 'list'

In [169]:
x3 = {(32,45,66,44):"wda","das":[654,984,65,15]}

In [170]:
x3

{(32, 45, 66, 44): 'wda', 'das': [654, 984, 65, 15]}

In [171]:
x3 = {{32,45,66,44}:"wda","das":[654,984,65,15]}

TypeError: unhashable type: 'set'

In [172]:
x3 = {{32:45}:"wda","das":[654,984,65,15]}

TypeError: unhashable type: 'dict'

In [173]:
x3 = {5:"wda","das":[654,984,65,15]}

In [174]:
l = [32,15,46,46]

In [175]:
l[1]

15

In [176]:
x3["das"]

[654, 984, 65, 15]

In [177]:
x2

{'name': {'k1': 'wda', 'das': [654, 984, 65, 15]},
 'age': 23,
 True: {158, 2465, 565, 84, 'ewfds'},
 'key': False,
 6545: 465,
 '_dwasd': 'prince',
 'l1': [21, 51, 41, 244, 100, 154],
 324: (245, 5415, 45)}

In [178]:
x2[324]

(245, 5415, 45)

In [179]:
x2["l1"][4]

100

In [180]:
x2

{'name': {'k1': 'wda', 'das': [654, 984, 65, 15]},
 'age': 23,
 True: {158, 2465, 565, 84, 'ewfds'},
 'key': False,
 6545: 465,
 '_dwasd': 'prince',
 'l1': [21, 51, 41, 244, 100, 154],
 324: (245, 5415, 45)}

In [181]:
x2["name"]["das"]

[654, 984, 65, 15]

In [182]:
x2["name"]["das"][2]

65

In [183]:
x3

{5: 'wda', 'das': [654, 984, 65, 15]}

In [184]:
x4 = {"k4":"csdfc"}

In [185]:
x3+x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [186]:
x3*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [187]:
x3

{5: 'wda', 'das': [654, 984, 65, 15]}

In [188]:
x3["das"]

[654, 984, 65, 15]

In [189]:
x3["das"] = "prince"

In [190]:
x3

{5: 'wda', 'das': 'prince'}

In [191]:
x3["das"] = 456

In [192]:
x3

{5: 'wda', 'das': 456}

In [193]:
x3["das"] -= 10

In [194]:
x3

{5: 'wda', 'das': 446}

In [195]:
x3["das"] = x3["das"] -10

In [196]:
x3

{5: 'wda', 'das': 436}

In [197]:
x3

{5: 'wda', 'das': 436}

In [199]:
x3.keys()

dict_keys([5, 'das'])

In [200]:
'das' in x3

True

In [201]:
for i in x3:
    print(i)

5
das

In [203]:
x3

{5: 'wda', 'das': 436}

In [204]:
for i in x3.keys():
    print(x3[i])

wda
436

In [205]:
for i in x3:
    print(x3[i])

wda
436

In [206]:
x3

{5: 'wda', 'das': 436}

In [207]:
x2

{'name': {'k1': 'wda', 'das': [654, 984, 65, 15]},
 'age': 23,
 True: {158, 2465, 565, 84, 'ewfds'},
 'key': False,
 6545: 465,
 '_dwasd': 'prince',
 'l1': [21, 51, 41, 244, 100, 154],
 324: (245, 5415, 45)}

In [208]:
x2.keys()

dict_keys(['name', 'age', True, 'key', 6545, '_dwasd', 'l1', 324])

In [210]:
for i in x2.keys():
    print(x2[i])

{'k1': 'wda', 'das': [654, 984, 65, 15]}
23
{2465, 'ewfds', 84, 565, 158}
False
465
prince
[21, 51, 41, 244, 100, 154]
(245, 5415, 45)

In [211]:
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>

In [212]:
x2.items()

dict_items([('name', {'k1': 'wda', 'das': [654, 984, 65, 15]}), ('age', 23), (True, {2465, 'ewfds', 84, 565, 158}), ('key', False), (6545, 465), ('_dwasd', 'prince'), ('l1', [21, 51, 41, 244, 100, 154]), (324, (245, 5415, 45))])

In [213]:
for i in x2.items():
    print(i)

('name', {'k1': 'wda', 'das': [654, 984, 65, 15]})
('age', 23)
(True, {2465, 'ewfds', 84, 565, 158})
('key', False)
(6545, 465)
('_dwasd', 'prince')
('l1', [21, 51, 41, 244, 100, 154])
(324, (245, 5415, 45))

In [214]:
for i in x2.items():
    print(i[0])

name
age
True
key
6545
_dwasd
l1
324

In [215]:
for i in x2.items():
    print(i[1])

{'k1': 'wda', 'das': [654, 984, 65, 15]}
23
{2465, 'ewfds', 84, 565, 158}
False
465
prince
[21, 51, 41, 244, 100, 154]
(245, 5415, 45)

In [216]:
x5 = {(34,65,4,15):"fsdfweasf"}

In [217]:
x5[(34,65,4,15)]

'fsdfweasf'

In [219]:
x5[(34,65,_)]

KeyError: (34, 65, 'fsdfweasf')

In [220]:
x2

{'name': {'k1': 'wda', 'das': [654, 984, 65, 15]},
 'age': 23,
 True: {158, 2465, 565, 84, 'ewfds'},
 'key': False,
 6545: 465,
 '_dwasd': 'prince',
 'l1': [21, 51, 41, 244, 100, 154],
 324: (245, 5415, 45)}

In [221]:
len(x2)

8

In [222]:
x2

{'name': {'k1': 'wda', 'das': [654, 984, 65, 15]},
 'age': 23,
 True: {158, 2465, 565, 84, 'ewfds'},
 'key': False,
 6545: 465,
 '_dwasd': 'prince',
 'l1': [21, 51, 41, 244, 100, 154],
 324: (245, 5415, 45)}

In [225]:
list(x2[324])[2]

45

## Q) Take input as a paragraph by using input function.

In [250]:
a = input("Enter the paragraph : ")

Enter the paragraph : Modern humans arrived on the Indian subcontinent from Africa no later than 55000 years ago Their long occupation initially in varying forms of isolation as hunter gatherers has made the region highly diverse second only to Africa in human genetic diversity

## Q1) Convert all of this input into list

In [253]:
l = [i for i in a.split()]
print(l)

['Modern', 'humans', 'arrived', 'on', 'the', 'Indian', 'subcontinent', 'from', 'Africa', 'no', 'later', 'than', '55000', 'years', 'ago', 'Their', 'long', 'occupation', 'initially', 'in', 'varying', 'forms', 'of', 'isolation', 'as', 'hunter', 'gatherers', 'has', 'made', 'the', 'region', 'highly', 'diverse', 'second', 'only', 'to', 'Africa', 'in', 'human', 'genetic', 'diversity']

## Q2) Rename all the Duplicate element from your list

In [254]:
s = set(l)
print(s)

{'on', 'no', 'subcontinent', 'the', 'highly', 'ago', 'diverse', 'Africa', 'humans', 'forms', 'human', 'genetic', 'gatherers', 'hunter', 'as', 'arrived', 'isolation', 'initially', 'Modern', '55000', 'second', 'varying', 'in', 'occupation', 'diversity', 'than', 'long', 'Their', 'from', 'only', 'of', 'made', 'years', 'to', 'later', 'has', 'region', 'Indian'}

## Q3) Use above distinct element as a key for dictionary and assign your name as a value for all the key for dictionary

In [255]:
d = {}
for i in s:
    d[i] = "prince"
print(d)

{'on': 'prince', 'no': 'prince', 'subcontinent': 'prince', 'the': 'prince', 'highly': 'prince', 'ago': 'prince', 'diverse': 'prince', 'Africa': 'prince', 'humans': 'prince', 'forms': 'prince', 'human': 'prince', 'genetic': 'prince', 'gatherers': 'prince', 'hunter': 'prince', 'as': 'prince', 'arrived': 'prince', 'isolation': 'prince', 'initially': 'prince', 'Modern': 'prince', '55000': 'prince', 'second': 'prince', 'varying': 'prince', 'in': 'prince', 'occupation': 'prince', 'diversity': 'prince', 'than': 'prince', 'long': 'prince', 'Their': 'prince', 'from': 'prince', 'only': 'prince', 'of': 'prince', 'made': 'prince', 'years': 'prince', 'to': 'prince', 'later': 'prince', 'has': 'prince', 'region': 'prince', 'Indian': 'prince'}

## Q4) Try to print tuple  for all the values

In [256]:
l1 = []
for i in d:
    l1.append(d[i])
t1 = tuple(l1)
print(t1)

('prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince')

## Q5) Try to print list of all the key

In [257]:
l3 = []
for i in d:
    l3.append(i)
print(l3)

['on', 'no', 'subcontinent', 'the', 'highly', 'ago', 'diverse', 'Africa', 'humans', 'forms', 'human', 'genetic', 'gatherers', 'hunter', 'as', 'arrived', 'isolation', 'initially', 'Modern', '55000', 'second', 'varying', 'in', 'occupation', 'diversity', 'than', 'long', 'Their', 'from', 'only', 'of', 'made', 'years', 'to', 'later', 'has', 'region', 'Indian']

In [249]:
# Q) Take input as a paragraph by using input function.

a = input("Enter the paragraph :")
          
#Q1) Convert all of this input into list

l = [i for i in a.split()]
print("Q1) : ",l)
          
# Q2) Rename all the Duplicate element from your list

s = set(l)
print("Q2) : ",s)

          
# Q3) Use above distinct element as a key for dictionary and assign your name as a value for all the key for dictionary

d = {}
for i in s:
    d[i] = "prince"
print("Q3) : ",d)

# Q4) Try to print tuple for all the values

l1 = []
for i in d:
    l1.append(d[i])
t1 = tuple(l1)
print("Q4) : ",t1)

# Q5) Try to print list of all the key

l3 = []
for i in d:
    l3.append(i)
print("Q5) : ",l3)

Enter the paragraph :Modern humans arrived on the Indian subcontinent from Africa no later than 55000 years ago Their long occupation initially in varying forms of isolation as hunter gatherers has made the region highly diverse second only to Africa in human genetic diversity
Q1) :  ['Modern', 'humans', 'arrived', 'on', 'the', 'Indian', 'subcontinent', 'from', 'Africa', 'no', 'later', 'than', '55000', 'years', 'ago', 'Their', 'long', 'occupation', 'initially', 'in', 'varying', 'forms', 'of', 'isolation', 'as', 'hunter', 'gatherers', 'has', 'made', 'the', 'region', 'highly', 'diverse', 'second', 'only', 'to', 'Africa', 'in', 'human', 'genetic', 'diversity']
Q2) :  ('Modern', 'humans', 'arrived', 'on', 'the', 'Indian', 'subcontinent', 'from', 'Africa', 'no', 'later', 'than', '55000', 'years', 'ago', 'Their', 'long', 'occupation', 'initially', 'in', 'varying', 'forms', 'of', 'isolation', 'as', 'hunter', 'gatherers', 'has', 'made', 'the', 'region', 'highly', 'diverse', 'second', 'only', 'to', 'Africa', 'in', 'human', 'genetic', 'diversity')
Q3) :  {'Modern': 'prince', 'humans': 'prince', 'arrived': 'prince', 'on': 'prince', 'the': 'prince', 'Indian': 'prince', 'subcontinent': 'prince', 'from': 'prince', 'Africa': 'prince', 'no': 'prince', 'later': 'prince', 'than': 'prince', '55000': 'prince', 'years': 'prince', 'ago': 'prince', 'Their': 'prince', 'long': 'prince', 'occupation': 'prince', 'initially': 'prince', 'in': 'prince', 'varying': 'prince', 'forms': 'prince', 'of': 'prince', 'isolation': 'prince', 'as': 'prince', 'hunter': 'prince', 'gatherers': 'prince', 'has': 'prince', 'made': 'prince', 'region': 'prince', 'highly': 'prince', 'diverse': 'prince', 'second': 'prince', 'only': 'prince', 'to': 'prince', 'human': 'prince', 'genetic': 'prince', 'diversity': 'prince'}
Q4) :  ('prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince')
Q5) :  ['Modern', 'humans', 'arrived', 'on', 'the', 'Indian', 'subcontinent', 'from', 'Africa', 'no', 'later', 'than', '55000', 'years', 'ago', 'Their', 'long', 'occupation', 'initially', 'in', 'varying', 'forms', 'of', 'isolation', 'as', 'hunter', 'gatherers', 'has', 'made', 'region', 'highly', 'diverse', 'second', 'only', 'to', 'human', 'genetic', 'diversity']

In [260]:
paragraph = input("Enter the Paragraph : ")

list1 = paragraph.split()
print("Q1): ",list1)

set1 = set(list1)
print("Q2): ",set1)

dict1 = dict.fromkeys(set1,"prince")
print("Q3): ",dict1)

tuple1 = tuple(dict1.keys())
print("Q4): ",tuple1)

list2 = list(dict1.values())
print("Q5): ",list2)

Enter the Paragraph : Modern humans arrived on the Indian subcontinent from Africa no later than 55000 years ago Their long occupation initially in varying forms of isolation as hunter gatherers has made the region highly diverse second only to Africa in human genetic diversity
Q1):  ['Modern', 'humans', 'arrived', 'on', 'the', 'Indian', 'subcontinent', 'from', 'Africa', 'no', 'later', 'than', '55000', 'years', 'ago', 'Their', 'long', 'occupation', 'initially', 'in', 'varying', 'forms', 'of', 'isolation', 'as', 'hunter', 'gatherers', 'has', 'made', 'the', 'region', 'highly', 'diverse', 'second', 'only', 'to', 'Africa', 'in', 'human', 'genetic', 'diversity']
Q2):  {'on', 'no', 'subcontinent', 'the', 'highly', 'ago', 'diverse', 'Africa', 'humans', 'forms', 'human', 'genetic', 'gatherers', 'hunter', 'as', 'arrived', 'isolation', 'initially', 'Modern', '55000', 'second', 'varying', 'in', 'occupation', 'diversity', 'than', 'long', 'Their', 'from', 'only', 'of', 'made', 'years', 'to', 'later', 'has', 'region', 'Indian'}
Q3):  {'on': 'prince', 'no': 'prince', 'subcontinent': 'prince', 'the': 'prince', 'highly': 'prince', 'ago': 'prince', 'diverse': 'prince', 'Africa': 'prince', 'humans': 'prince', 'forms': 'prince', 'human': 'prince', 'genetic': 'prince', 'gatherers': 'prince', 'hunter': 'prince', 'as': 'prince', 'arrived': 'prince', 'isolation': 'prince', 'initially': 'prince', 'Modern': 'prince', '55000': 'prince', 'second': 'prince', 'varying': 'prince', 'in': 'prince', 'occupation': 'prince', 'diversity': 'prince', 'than': 'prince', 'long': 'prince', 'Their': 'prince', 'from': 'prince', 'only': 'prince', 'of': 'prince', 'made': 'prince', 'years': 'prince', 'to': 'prince', 'later': 'prince', 'has': 'prince', 'region': 'prince', 'Indian': 'prince'}
Q4):  ('on', 'no', 'subcontinent', 'the', 'highly', 'ago', 'diverse', 'Africa', 'humans', 'forms', 'human', 'genetic', 'gatherers', 'hunter', 'as', 'arrived', 'isolation', 'initially', 'Modern', '55000', 'second', 'varying', 'in', 'occupation', 'diversity', 'than', 'long', 'Their', 'from', 'only', 'of', 'made', 'years', 'to', 'later', 'has', 'region', 'Indian')
Q5):  ['prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince', 'prince']

In [268]:
d = {"name": "prince","age":14,"work":"study"}

In [269]:
for i in d:
    print("print a key : ",i ,";" ,"values wise : ",d[i])

print a key :  name ; values wise :  prince
print a key :  age ; values wise :  14
print a key :  work ; values wise :  study

In [270]:
"work" in d

True

In [273]:
for i in d:
    if i == "age":
        if d[i] > 18:
            print("you are adult")
        else:
            d[i] = 20

you are adult

In [272]:

d

{'name': 'prince', 'age': 20, 'work': 'study'}

In [274]:
my_dict = {}
for i in range(10):
    my_dict[i] = i*i

In [275]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [276]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [277]:
{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}