In [2]:
a = 10
b = 20
a + b

30

In [3]:
def test(x,y):

SyntaxError: unexpected EOF while parsing (<ipython-input-3-18a5f39a56cc>, line 1)

In [4]:
def test(x,y):
    pass

In [6]:
test

In [7]:
test()

TypeError: test() missing 2 required positional arguments: 'x' and 'y'

In [8]:
test(21,53)

In [9]:
def test(x,y):
    print(x+y)

In [10]:
test(24,51)

75

In [11]:
test(1,2)

3

In [12]:
test(4,8)

12

In [16]:
test(4,7) +6

11

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [14]:
def test1(b,n):
    return b*n

In [15]:
test1(5,84)

420

In [17]:
test1(5,84) +5

425

In [18]:
type(test(45,45))

90

NoneType

In [19]:
type(test1(4,5))

int

In [20]:
b = test(45,48)

93

In [21]:
b

In [22]:
type(b)

NoneType

In [23]:
type(a)

int

In [24]:
def test2(t,c,r):
    return t+c

In [26]:
test2(2,3)

TypeError: test2() missing 1 required positional argument: 'r'

In [27]:
test2(5,4,0)

9

In [29]:
def test3(n,m):
    return n*10,m*45 , m*n

In [30]:
test3(2,7)

(20, 315, 14)

In [31]:
type(test3(2,4))

tuple

In [32]:
test3(2,4)

(20, 180, 8)

In [33]:
c,x,v = test3(2,7)

In [34]:
c

20

In [35]:
x

315

In [36]:
v

14

In [38]:
z = c,x,v

In [39]:
z

(20, 315, 14)

In [40]:
type(z)

tuple

In [45]:
c,x,_ = test3(4,8)

In [46]:
c

40

In [47]:
x

360

In [48]:
_

32

In [49]:
c,x= test3(4,8)

ValueError: too many values to unpack (expected 2)

In [50]:
c,_ ,x = test3(4,8)

In [51]:
c

40

In [52]:
x

32

In [53]:
_

360

In [54]:
_,_ ,x = test3(4,8)

In [55]:
_

360

In [56]:
_

360

In [57]:
x

32

In [58]:
_

360

In [59]:
_,_ ,_ = test3(4,8)

In [60]:
_

32

In [61]:
_

32

In [62]:
def test2(t,c,d):
    return t+c
    return c+d

In [63]:
test2(4,5,7)

9

In [64]:
def test():
    print("This is my first function")

In [65]:
test()

This is my first function

In [66]:
m = test()

This is my first function

In [67]:
m +"wedfw"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [72]:
def test7():
    return "this is my first class "

In [73]:
test7()

'this is my first class '

In [74]:
m = test7()

In [75]:
m + "of Coding"

'this is my first class of Coding'

In [76]:
def test8(g):
    return g * 2

In [77]:
test8([3,4,5,7,6])

[3, 4, 5, 7, 6, 3, 4, 5, 7, 6]

In [78]:
test8(54)

108

In [81]:
def test9(n):
    return n,n*2

In [82]:
test9([2,3,4,5])

([2, 3, 4, 5], [2, 3, 4, 5, 2, 3, 4, 5])

In [83]:
b = test9([2,3,4,5])

In [84]:
b[0]

[2, 3, 4, 5]

In [85]:
b[1]

[2, 3, 4, 5, 2, 3, 4, 5]

In [88]:
def test10(n,m = 90):
    return n+m

In [89]:
test10(60)

150

In [90]:
test10(60,40)

100

In [91]:
def boolx(x = True,y = False):
    return x + y

In [92]:
boolx()

1

In [94]:
boolx(24,51)

75

In [95]:
boolx(False)

0

In [1]:
def travel(bike = True,car = False):
    plan_travel = bike or car
    return bike , car , plan_travel

In [2]:
travel()

(True, False, True)

In [3]:
travel(False)

(False, False, False)

In [4]:
travel(car = True)

(True, True, True)

In [5]:
travel(_,True)

((True, True, True), True, (True, True, True))

In [6]:
_

((True, True, True), True, (True, True, True))

In [9]:
def test11(*args):
    return args

In [10]:
test11("prince","kumar",352,[314,41,454,661,2])

('prince', 'kumar', 352, [314, 41, 454, 661, 2])

In [13]:
def concat(*args):
    a = []
    for i in args:
        a += i
    return a

concat([2,3,4,5,1],[1,4,5,1,2],[7,4,5,7,9])

[2, 3, 4, 5, 1, 1, 4, 5, 1, 2, 7, 4, 5, 7, 9]

In [29]:
def concat1(*args):
    return [i for i in args]

In [30]:
concat1([2,3,4,5,1],[1,4,5,1,2],[7,4,5,7,9])

[[2, 3, 4, 5, 1], [1, 4, 5, 1, 2], [7, 4, 5, 7, 9]]

In [33]:
concat("csdcsad",5446,[1,4,5,7,6],[449,6,6,4,65,1])

TypeError: 'int' object is not iterable

In [34]:
def concat2(*args):
    l = []
    for i in args:
        if type(i) == list:
            l += i
    return l

In [36]:
concat2("csdcsad",5446,[1,4,5,7,6],[449,6,6,4,65,1])

[1, 4, 5, 7, 6, 449, 6, 6, 4, 65, 1]

In [38]:
def test16(**kwargs):
    return kwargs

In [39]:
test16(4,51,62)

TypeError: test16() takes 0 positional arguments but 3 were given

In [40]:
test16(a = 15,b = 45,c = 96,d = 95)

{'a': 15, 'b': 45, 'c': 96, 'd': 95}

In [41]:
test16('a': 15, 'b': 45, 'c': 96, 'd': 95)

SyntaxError: invalid syntax (<ipython-input-41-9ca35398f10c>, line 1)

In [42]:
test16(a = 15,b = True,c = [12,45,12,4+5j,"kumar"],d = "prince")

{'a': 15, 'b': True, 'c': [12, 45, 12, (4+5j), 'kumar'], 'd': 'prince'}

In [43]:
def test17(*args):
    return args

In [44]:
test17(7,4,6,1,2,"prince",[4,5,1,2])

(7, 4, 6, 1, 2, 'prince', [4, 5, 1, 2])

## Q1) Create a function to take any Number of a mixed data and try to create a list of seperate data based on datatype and return multiple result.

In [54]:
def mix(*args):
    l1 = [ i for i in args if type(i) == str]
    l2 = [ i for i in args if type(i) == int]
    l3 = [ i for i in args if type(i) == float]
    l4 = [ i for i in args if type(i) == complex]
    l5 = [ i for i in args if type(i) == bool]
    l6 = [ i for i in args if type(i) == list]
    l7 = [ i for i in args if type(i) == tuple]
    l8 = [ i for i in args if type(i) == set]
    l9 = [ i for i in args if type(i) == dict]
    return l1, l2, l3, l4, l5, l6, l7, l8, l9

mix("prince",[1,4,5,1],4+5j,56.4,(5,4,7,8,5),"kumar",False,{4:"asd",65:"A"},54,54+58j,84,75.54,[4,6,7,8,4],True,(4,5,8,9,4),{9,6,3,1,4})

(['prince', 'kumar'],
 [54, 84],
 [56.4, 75.54],
 [(4+5j), (54+58j)],
 [False, True],
 [[1, 4, 5, 1], [4, 6, 7, 8, 4]],
 [(5, 4, 7, 8, 5), (4, 5, 8, 9, 4)],
 [{1, 3, 4, 6, 9}],
 [{4: 'asd', 65: 'A'}])

## Q2) Create a function which will be able to use \*args and \**kwargs and it will be able to do all the list value concatination and return a list.

In [68]:
def concat5(*args,**kwargs):
    l1 = [i for i in args if type(i) == list]
    l2 = [kwargs[j] for j in kwargs if type(kwargs[j]) == list]
    return l1,l2

concat5([1,4,5,1],[5,4,7,8,5],84,75,54,[4,6,7,8,4], W = 45,A = 74,b = [15,4,7,8,4])

([[1, 4, 5, 1], [5, 4, 7, 8, 5], [4, 6, 7, 8, 4]], [[15, 4, 7, 8, 4]])

In [88]:
def test18(**kwargs):
    for i in kwargs.items():
        if type(i[1])==list:
            if "prince" in i[1]:
                print("i am able to find your name in input data ")
                print(i[1])
    return kwargs

In [89]:
test18( b = 465, c = [5,8,4,6,7],d = ["prince","kumar",57.65],e = 45+67j)

i am able to find your name in input data
['prince', 'kumar', 57.65]

{'b': 465,
 'c': [5, 8, 4, 6, 7],
 'd': ['prince', 'kumar', 57.65],
 'e': (45+67j)}

In [90]:
d = {'b': 465,'c': [5, 8, 4, 6, 7],'d': ['prince', 'kumar', 57.65],'e': (45+67j)}

In [91]:
d.items()

dict_items([('b', 465), ('c', [5, 8, 4, 6, 7]), ('d', ['prince', 'kumar', 57.65]), ('e', (45+67j))])

In [92]:
d.values()

dict_values([465, [5, 8, 4, 6, 7], ['prince', 'kumar', 57.65], (45+67j)])

In [97]:
def new(*args):
    d = {}
    for i in args:
        if type(i) in d:
            d[type(i)].append(i)
        else:
            d[type(i)] = [i]
    return d

In [98]:
new("prince",[1,4,5,1],4+5j,56.4,(5,4,7,8,5),"kumar",False,{4:"asd",65:"A"},54,54+58j,84,75.54,[4,6,7,8,4],True,(4,5,8,9,4),{9,6,3,1,4})

{str: ['prince', 'kumar'],
 list: [[1, 4, 5, 1], [4, 6, 7, 8, 4]],
 complex: [(4+5j), (54+58j)],
 float: [56.4, 75.54],
 tuple: [(5, 4, 7, 8, 5), (4, 5, 8, 9, 4)],
 bool: [False, True],
 dict: [{4: 'asd', 65: 'A'}],
 int: [54, 84],
 set: [{1, 3, 4, 6, 9}]}