In [1]:
!pip3 install mysql-connector-python-rf

/bin/sh: 1: pip3: not found

In [ ]:
import mysql.connector as connection 

try:
    mydb = connection.connect(host= "localhost",user="root",passwd ="mysql",use_pure=True)
    # check if the connection is established
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

In [22]:
import mysql.connector as connection

In [4]:
connection.connect(host="localhost",user="root",passwd="password",use_pure=True)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [5]:
connection.connect(host="localhost",user="fcdss",passwd="mysql",use_pure=True)

ProgrammingError: 1045 (28000): Access denied for user 'fcdss'@'localhost' (using password: YES)

In [6]:
connection.connect(host="root",user="root",passwd="mysql",use_pure=True)

InterfaceError: 2003: Can't connect to MySQL server on '%-.100s:%u' (%s) (Warning: %u format: a number is required, not str)

In [15]:
connection.connect(host="localhost",user="root",passwd="mysql",use_pure=True)

In [23]:
conn = connection.connect(host="localhost",user="root",passwd="mysql",use_pure=True)

In [24]:
cur = conn.cursor()

In [12]:
type(cur.execute("show databases"))

NoneType

In [25]:
cur.execute("show databases")

In [26]:
res = cur.fetchall()

In [27]:
 res

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [34]:
res[1]

('mysql',)

In [35]:
res[1][0]

'mysql'

In [36]:
for i in res:
    print(i[0])

information_schema
mysql
performance_schema
sys

In [37]:
conn.close()

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = "localhost", user = "root", passwd = "mysql", use_pure = True)
    # check if the connection is established
    
    print(mydb.is_connected())
    
    query = "Create database Student;"
    cursor = mydb.cursor() #create a cursor to excute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

In [57]:
import mysql.connector as connection

In [58]:
conn = connection.connect(host = "localhost", user = "root", passwd = "mysql", use_pure = True)

In [59]:
cur = conn.cursor()

In [48]:
create_db = cur.execute("Create database db2")

In [60]:
cur.execute("show databases")

In [61]:
db = cur.fetchall()

In [62]:
db

[('db1',),
 ('db2',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [16]:
import mysql.connector as connection
conn = connection.connect(host="localhost",user="root",passwd="mysql",use_pure=True)

In [17]:
cur = conn.cursor()

In [19]:
cur.execute("Create database db4")

In [22]:
cur.execute("show databases")

In [23]:
res = cur.fetchall()

In [24]:
res

[('db1',),
 ('db2',),
 ('db3',),
 ('db4',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",database = "Student",user="root",passwd="mysql",use_pure=True)
    #chack if the connection is established
    print(mydb.is_connected())
    
    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60),"\
    "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20),Section Varchar(10))"
    
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

In [25]:
import mysql.connector as connection

In [26]:
mydb = connection.connect(host="localhost", database = "db1",user="root",passwd="mysql",use_pure=True)

In [27]:
mydb.is_connected()

True

In [28]:
cur = mydb.cursor()
cur.execute("create table test(x1 INT(5), x2 VARCHAR(20),x3 DATE)")

In [29]:
mydb.close()

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",database = "Student",user="root",passwd="mysql",use_pure=True)
    #chack if the connection is established
    print(mydb.is_connected())
    
    query = "INSERT INTO StudentDetails VALUES('1132','Sachin','Kumar','1997-11-11','Eleventh','A')"
    
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

In [53]:
mydb = connection.connect(host="localhost",database = 'db1',user='root',passwd='mysql',use_pure=True)

In [32]:
mydb.is_connected()

True

In [33]:
cur = mydb.cursor()

In [37]:
cur.execute("insert into test values(4572,'prince','15-01-2022')")

DataError: 1292 (22007): Incorrect date value: '15-01-2022' for column 'x3' at row 1

In [38]:
cur.execute("insert into test values(4572646565,'prince','2022-01-15')") #yyyy-mm-dd

DataError: 1264 (22003): Out of range value for column 'x1' at row 1

In [39]:
cur.execute("insert into test values(4572,'prince','2022-01-15')") #yyyy-mm-dd

In [42]:
mydb.commit()

In [41]:
cur.execute("insert into test values(45485,'prince kumar','2022-01-15')") #yyyy-mm-dd

In [44]:
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd
cur.execute("insert into test values(7548,'prince','2050-01-01')") #yyyy-mm-dd

In [45]:
mydb.commit()

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",database = "GlassData",user="root",passwd="mysql",use_pure=True)
    #chack if the connection is established
    print(mydb.is_connected())
    
    query = "Select * from GlassData"
    
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close() #close the connection
    
    
except Exception as e:
    mydb.close()
    print(str(e))

In [58]:
mydb = connection.connect(host="localhost",database = 'db1',user='root',passwd='mysql',use_pure=True)
cur1 = mydb.cursor()
cur1.execute('select * from test')

In [55]:
type(out)

NoneType

In [56]:
cur1.fetchall()

[(4572, 'prince', datetime.date(2022, 1, 15)),
 (4572, 'prince', datetime.date(2022, 1, 15)),
 (4572, 'prince', datetime.date(2022, 1, 15)),
 (45485, 'prince kumar', datetime.date(2022, 1, 15)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1)),
 (7548, 'prince', datetime.date(2050, 1, 1))]

In [59]:
for i in cur1.fetchall():
    print(i)

(4572, 'prince', datetime.date(2022, 1, 15))
(4572, 'prince', datetime.date(2022, 1, 15))
(4572, 'prince', datetime.date(2022, 1, 15))
(45485, 'prince kumar', datetime.date(2022, 1, 15))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))
(7548, 'prince', datetime.date(2050, 1, 1))

In [60]:
mydb = connection.connect(host="localhost",database = 'db1',user='root',passwd='mysql',use_pure=True)

In [61]:
cur = mydb.cursor()
cur.execute("select x1,x2 from test")

In [62]:
for i in cur.fetchall():
    print(i)

(4572, 'prince')
(4572, 'prince')
(4572, 'prince')
(45485, 'prince kumar')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')
(7548, 'prince')

In [ ]:
import mysql.connector as connection
import pandas

try:
    mydb = connection.connect(host="localhost",database = "GlassData",user="root",passwd="mysql",use_pure=True)
    #chack if the connection is established
    print(mydb.is_connected())
    
    query = "Select * from GlassData;"
    
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    
    mydb.close() #close the connection
    
    
except Exception as e:
    mydb.close()
    print(str(e))

In [6]:
!pip install pandas

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 1.9 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01m
Collecting pytz>=2017.3
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Collecting numpy>=1.17.3
  Using cached numpy-1.21.5-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in /snap/jupyter/6/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /snap/jupyter/6/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.5 pandas-1.3.5 pytz-2021.3

In [1]:
import mysql.connector as connection
import pandas as pd

In [2]:
mydb = connection.connect(host="localhost",database = 'db1',user='root',passwd='mysql',use_pure=True)

In [12]:
a = pd.read_sql('select * from test',mydb)
a

       x1            x2          x3
0    4572        prince  2022-01-15
1    4572        prince  2022-01-15
2    4572        prince  2022-01-15
3   45485  prince kumar  2022-01-15
4    7548        prince  2050-01-01
5    7548        prince  2050-01-01
6    7548        prince  2050-01-01
7    7548        prince  2050-01-01
8    7548        prince  2050-01-01
9    7548        prince  2050-01-01
10   7548        prince  2050-01-01
11   7548        prince  2050-01-01
12   7548        prince  2050-01-01
13   7548        prince  2050-01-01
14   7548        prince  2050-01-01
15   7548        prince  2050-01-01
16   7548        prince  2050-01-01
17   7548        prince  2050-01-01
18   7548        prince  2050-01-01
19   7548        prince  2050-01-01
20   7548        prince  2050-01-01
21   7548        prince  2050-01-01
22   7548        prince  2050-01-01
23   7548        prince  2050-01-01
24   7548        prince  2050-01-01
25   7548        prince  2050-01-01
26   7548        prince  2050-01-01
27   7548        prince  2050-01-01
28   7548        prince  2050-01-01
29   7548        prince  2050-01-01

In [13]:
a = pd.read_sql('select x1, x2 from test',mydb)
a

       x1            x2
0    4572        prince
1    4572        prince
2    4572        prince
3   45485  prince kumar
4    7548        prince
5    7548        prince
6    7548        prince
7    7548        prince
8    7548        prince
9    7548        prince
10   7548        prince
11   7548        prince
12   7548        prince
13   7548        prince
14   7548        prince
15   7548        prince
16   7548        prince
17   7548        prince
18   7548        prince
19   7548        prince
20   7548        prince
21   7548        prince
22   7548        prince
23   7548        prince
24   7548        prince
25   7548        prince
26   7548        prince
27   7548        prince
28   7548        prince
29   7548        prince

In [14]:
a = pd.read_sql('select x3, x1 from test',mydb)
a

            x3     x1
0   2022-01-15   4572
1   2022-01-15   4572
2   2022-01-15   4572
3   2022-01-15  45485
4   2050-01-01   7548
5   2050-01-01   7548
6   2050-01-01   7548
7   2050-01-01   7548
8   2050-01-01   7548
9   2050-01-01   7548
10  2050-01-01   7548
11  2050-01-01   7548
12  2050-01-01   7548
13  2050-01-01   7548
14  2050-01-01   7548
15  2050-01-01   7548
16  2050-01-01   7548
17  2050-01-01   7548
18  2050-01-01   7548
19  2050-01-01   7548
20  2050-01-01   7548
21  2050-01-01   7548
22  2050-01-01   7548
23  2050-01-01   7548
24  2050-01-01   7548
25  2050-01-01   7548
26  2050-01-01   7548
27  2050-01-01   7548
28  2050-01-01   7548
29  2050-01-01   7548

In [15]:
a.to_csv("mydata.csv")

In [16]:
mydb

In [17]:
cur = mydb.cursor()
cur.execute("create table mydata(n1 int(20),n2 varchar(20), n3 date)")

In [19]:
data = pd.read_csv("mydata.csv")
data

    Unnamed: 0          x3     x1
0            0  2022-01-15   4572
1            1  2022-01-15   4572
2            2  2022-01-15   4572
3            3  2022-01-15  45485
4            4  2050-01-01   7548
5            5  2050-01-01   7548
6            6  2050-01-01   7548
7            7  2050-01-01   7548
8            8  2050-01-01   7548
9            9  2050-01-01   7548
10          10  2050-01-01   7548
11          11  2050-01-01   7548
12          12  2050-01-01   7548
13          13  2050-01-01   7548
14          14  2050-01-01   7548
15          15  2050-01-01   7548
16          16  2050-01-01   7548
17          17  2050-01-01   7548
18          18  2050-01-01   7548
19          19  2050-01-01   7548
20          20  2050-01-01   7548
21          21  2050-01-01   7548
22          22  2050-01-01   7548
23          23  2050-01-01   7548
24          24  2050-01-01   7548
25          25  2050-01-01   7548
26          26  2050-01-01   7548
27          27  2050-01-01   7548
28          28  2050-01-01   7548
29          29  2050-01-01   7548

In [20]:
data.to_sql('mydata',mydb)

/home/er-royalprince/snap/jupyter/common/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [3]:
data1 = pd.read_sql("select *  from test",mydb)

In [5]:
data1.to_csv("mydata1.csv")

In [11]:
data1.to_sql("mydata1",mydb)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [8]:
!pip3 install SQLAlchemy

Collecting SQLAlchemy
  Downloading SQLAlchemy-1.4.31-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 1.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (150 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 150.2/150.2 KB 406.5 kB/s eta 0:00:00 MB/s eta 0:00:01
Collecting importlib-metadata
  Downloading importlib_metadata-4.11.2-py3-none-any.whl (17 kB)
Collecting zipp>=0.5
  Downloading zipp-3.7.0-py3-none-any.whl (5.3 kB)
Collecting typing-extensions>=3.6.4
  Downloading typing_extensions-4.1.1-py3-none-any.whl (26 kB)
Installing collected packages: zipp, typing-extensions, greenlet, importlib-metadata, SQLAlchemy
Successfully installed SQLAlchemy-1.4.31 greenlet-1.1.2 importlib-metadata-4.11.2 typing-extensions-4.1.1 zipp-3.7.0

In [12]:
mydb.close()

In [37]:
import mysql.connector as connection
import pandas as pd
import csv

In [21]:
mydb = connection.connect(host="localhost",database="db1",user="root",passwd="mysql",use_pure=True)

In [51]:
cur = mydb.cursor()

In [58]:
cur.execute("create table test5(x0 int(10),x1 int(10),x2 int(20),x3 int(20))")

In [65]:
with open('mydata1.data',"r") as data:
    next(data)
    data_csv = csv.reader(data,delimiter="\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1]:
            cur.execute('insert into test5 values({Data})'.format(Data=(j)))
            print(type(j))
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x7fd9258425f8>
(0, ['0,4572,4512,2022'])
<class 'str'>
(1, ['1,4572,4512,2022'])
<class 'str'>
(2, ['2,4572,4512,2022'])
<class 'str'>
(3, ['3,4548,4512,2022'])
<class 'str'>
(4, ['4,7548,4512,2050'])
<class 'str'>
(5, ['5,7548,4512,2050'])
<class 'str'>
(6, ['6,7548,4512,2050'])
<class 'str'>
(7, ['7,7548,4512,2050'])
<class 'str'>
(8, ['8,7548,4512,2050'])
<class 'str'>
(9, ['9,7548,4512,2050'])
<class 'str'>
(10, ['10,7548,4512,2050'])
<class 'str'>
(11, ['11,7548,4512,2050'])
<class 'str'>
(12, ['12,7548,4512,2050'])
<class 'str'>
(13, ['13,7548,4512,2050'])
<class 'str'>
(14, ['14,7548,4512,2050'])
<class 'str'>
(15, ['15,7548,4512,2050'])
<class 'str'>
(16, ['16,7548,4512,2050'])
<class 'str'>
(17, ['17,7548,4512,2050'])
<class 'str'>
(18, ['18,7548,4512,2050'])
<class 'str'>
(19, ['19,7548,4512,2050'])
<class 'str'>
(20, ['20,7548,4512,2050'])
<class 'str'>
(21, ['21,7548,4512,2050'])
<class 'str'>
(22, ['22,7548,4512,2050'])
<class 'str'>
(23, ['23,7548,4512,2050'])
<class 'str'>
(24, ['24,7548,4512,2050'])
<class 'str'>
(25, ['25,7548,4512,2050'])
<class 'str'>
(26, ['26,7548,4512,2050'])
<class 'str'>
(27, ['27,7548,4512,2050'])
<class 'str'>
(28, ['28,7548,4512,2050'])
<class 'str'>
(29, ['29,7548,4512,2050'])
<class 'str'>
all the data inserted

In [60]:
with open('mydata1.data',"r") as data:
    next(data)
    data_csv = csv.reader(data,delimiter="\n")
    print(data_csv)
    for j in data_csv:
            #cur.execute('insert into test5 values({Data})'.format(Data=(j)))
        print(j)
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x7fd925842ba8>
['0,4572,4512,2022']
['1,4572,4512,2022']
['2,4572,4512,2022']
['3,4548,4512,2022']
['4,7548,4512,2050']
['5,7548,4512,2050']
['6,7548,4512,2050']
['7,7548,4512,2050']
['8,7548,4512,2050']
['9,7548,4512,2050']
['10,7548,4512,2050']
['11,7548,4512,2050']
['12,7548,4512,2050']
['13,7548,4512,2050']
['14,7548,4512,2050']
['15,7548,4512,2050']
['16,7548,4512,2050']
['17,7548,4512,2050']
['18,7548,4512,2050']
['19,7548,4512,2050']
['20,7548,4512,2050']
['21,7548,4512,2050']
['22,7548,4512,2050']
['23,7548,4512,2050']
['24,7548,4512,2050']
['25,7548,4512,2050']
['26,7548,4512,2050']
['27,7548,4512,2050']
['28,7548,4512,2050']
['29,7548,4512,2050']
all the data inserted

In [63]:
with open('mydata1.data',"r") as data:
    next(data)
    data_csv = csv.reader(data,delimiter="\n")
    print(data_csv)
    for j in data_csv:
        cur.execute('insert into test5 values({Data})'.format(Data=(j)))
        print(j)
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x7fd925842cf8>

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '['0,4572,4512,2022'])' at line 1

In [64]:
with open('mydata1.data',"r") as data:
    next(data)
    data_csv = csv.reader(data,delimiter="\n")
    print(data_csv)
    for j in data_csv:
        cur.execute('insert into test5 values({Data})'.format(Data=(j)))
        print(type(j))
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x7fd925842f28>

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '['0,4572,4512,2022'])' at line 1

In [66]:
with open('mydata1.data',"r") as data:
    next(data)
    data_csv = csv.reader(data,delimiter="\n")
    print(data_csv)
    for j in data_csv:
        print(type(str(j)))
        cur.execute('insert into test5 values({Data})'.format(Data=(str(j[0]))))
        print(j)
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x7fd9258429e8>
<class 'str'>
['0,4572,4512,2022']
<class 'str'>
['1,4572,4512,2022']
<class 'str'>
['2,4572,4512,2022']
<class 'str'>
['3,4548,4512,2022']
<class 'str'>
['4,7548,4512,2050']
<class 'str'>
['5,7548,4512,2050']
<class 'str'>
['6,7548,4512,2050']
<class 'str'>
['7,7548,4512,2050']
<class 'str'>
['8,7548,4512,2050']
<class 'str'>
['9,7548,4512,2050']
<class 'str'>
['10,7548,4512,2050']
<class 'str'>
['11,7548,4512,2050']
<class 'str'>
['12,7548,4512,2050']
<class 'str'>
['13,7548,4512,2050']
<class 'str'>
['14,7548,4512,2050']
<class 'str'>
['15,7548,4512,2050']
<class 'str'>
['16,7548,4512,2050']
<class 'str'>
['17,7548,4512,2050']
<class 'str'>
['18,7548,4512,2050']
<class 'str'>
['19,7548,4512,2050']
<class 'str'>
['20,7548,4512,2050']
<class 'str'>
['21,7548,4512,2050']
<class 'str'>
['22,7548,4512,2050']
<class 'str'>
['23,7548,4512,2050']
<class 'str'>
['24,7548,4512,2050']
<class 'str'>
['25,7548,4512,2050']
<class 'str'>
['26,7548,4512,2050']
<class 'str'>
['27,7548,4512,2050']
<class 'str'>
['28,7548,4512,2050']
<class 'str'>
['29,7548,4512,2050']
all the data inserted

In [67]:
with open('mydata1.data',"r") as data:
    next(data)
    data_csv = csv.reader(data,delimiter="\n")
    print(data_csv)
    for j in data_csv:
        cur.execute(f'insert into test5 values({str(j[0])})')
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x7fd925842828>
all the data inserted

In [1]:
import mysql.connector as connection
mydb = connection.connect(host="localhost",database="db1",user="root",passwd="mysql",use_pure=True)

In [2]:
# check if connection is established
print(mydb.is_connected())

True

In [6]:
cur = mydb.cursor()

In [4]:
cur.execute("delete from test where x1 = 7548")

In [5]:
mydb.commit()

In [9]:
query = "update test set x1 = 3457 ,x2 = 'King' where x1 = 45485"

In [10]:
cur.execute(query)
mydb.commit()